body {
  background-color: #101d2e;
  margin: 0;
  font-family: Merriweather, serif;
}

h1 {
  color: #98D6EA;
  font-size: 2.7vw;
}

h3 {
  color: #3FC5F0;
  font-size: 1.5vw;
}

p {
  font-family: Montserrat, serif;
  color: #F9F3F3;
  font-size: 1.3vw;
}

.hr-top {
  margin: 0;
  height: 0.4vw;
  background: linear-gradient(#ffd700, #e8d57f, #ffd700);
  border: 0;
}

/*====================Navigation Bar===============*/

/*Navbar icon*/
.bars {
	position: fixed;
	width: 28px;
	height: 30px;
	top: 40px;
	right: 10px;
	cursor: pointer;
	z-index: 101;
	padding-top: 9px;
	outline: none;
	transition: .5s ease;
}

.bars.active {
	top: 20px;
}

.bar {
	width: 100%;
	height: 4.3px;
	border-radius: 20px;
	background-color: #fff;
	outline: none;
	position: absolute;
}

#nav-action #bar1 {
	transform: translateY(-10px);
}

#nav-action #bar3 {
	transform: translateY(10px);
}

.bars.active #bar2 {
	animation: disappear 1s;
	color: aqua;
	animation-fill-mode: forwards;
}

.bars.active #bar1 {
	animation: top-bar 1s;
	animation-fill-mode: forwards;
}

.bars.active #bar3 {
	animation: bottom-bar 1s;
	animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0px;
	transition: all 1s;
	z-index: -1;
	overflow: hidden;
	opacity: 0;
}

#nav a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--heading-font);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-indent: 50vw;
	border-radius: 50%;
	transition: all .5s;
}

#nav a:hover {
	background: #ED213A;
}

ul {
	list-style: none;
}

.visible {
	z-index: 100 !important;
	opacity: 1 !important;
}

.shape-circle {
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	top: -10vw;
	right: -10vw;
	position: absolute;
	transition: all 1s ease-in-out;
	background: #101d2e;
	box-shadow: 0 0px 0px rgba(232, 213, 127, 0.5);
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav.visible li:first-child {
	width: 200vw;
	height: 200vw;
	top: -100vw;
	right: -100vw;
	z-index: 5;
	transition: all .5s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(2) {
	width: 150vw;
	height: 150vw;
	top: -75vw;
	right: -75vw;
	z-index: 6;
	transition: all .6s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(3) {
	width: 100vw;
	height: 100vw;
	top: -50vw;
	right: -50vw;
	z-index: 7;
	transition: all .7s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:last-child {
	width: 50vw;
	height: 50vw;
	top: -25vw;
	right: -25vw;
	z-index: 8;
	transition: all .8s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(1) a {
	line-height: 275vw !important;
	text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
	line-height: 210vw !important;
	text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
	line-height: 147vw !important;
	text-indent: 17vw !important;

}

nav.visible li:nth-child(4) a {
	line-height: 70vw !important;
	text-indent: 12vw !important;
}

@keyframes top-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(45deg) translateY(0);
	}
}

@keyframes bottom-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(-45deg) translateY(0);
	}
}

@keyframes disappear {
	50% {
		transform: scale(0);
	}

	100% {
		background-color: transparent;
	}
}


/*.top-head{
  color: #00D1FF;
  font-size: 2vw;
  position: relative;
}
.top-head::before{
  position: absolute;
  content: attr(data-text);
  text-shadow: 0 0 20px #00D1FF;
  filter : blur(1px) brightness(0.75);
  animation: flicker 2s infinite linear 1s forwards;

}
@keyframes flicker {
  0%{filter : blur(1px) brightness(0.75);}
  3%{filter : blur(1px) brightness(0);}
  6%{filter : blur(1px) brightness(0);}
  7%{filter : blur(1px) brightness(0.75);}
  8%{filter : blur(1px) brightness(0);}
  9%{filter : blur(1px) brightness(0.75);}
  10%{filter : blur(1px) brightness(0);}
  20%{filter : blur(1px) brightness(0.75);}
  50%{filter : blur(1px) brightness(0.75);}
  99%{filter : blur(1px) brightness(0);}
  100%{filter : blur(1px) brightness(0.75);}


}*/
.icon {
  position: absolute;
  top: 1.7vw;
  width: 7vw;
  height: 7vw;
  left: 2%;
}

/*.head{
  margin: 200px;
}*/
.bg-img {
  height: 47vw;
  width: 100%;
  margin-top: 0;
  border: 0;
}

.heading {
  position: absolute;
  top: 14vw;
  left: 2%;
  font-family: Barrio;
  font-size: 3vw;
  color: #393E46;
}

.sub-head {
  position: absolute;
  top: 20vw;
  left: 11%;
  font-family: Barrio;
  font-size: 3vw;
  color: #393E46;
}

.art-gallery {
  margin-top: 7%;
  margin-bottom: 5%;
  text-align: center;
}

.animation {
  width: 70%;
  height: 40vw;
  margin-left: 15%;
  position: relative;
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px #ffd700;
  animation: slider 45s infinite linear;
}

@keyframes slider {
  0% {
    background-image: url('img1.jpeg');
  }

  8% {
    background-image: url('img7.jpeg');
  }

  16% {
    background-image: url('img2.jpg');
  }

  24% {
    background-image: url('img5.jpeg');
  }

  32% {
    background-image: url('img6.jpeg');
  }

  40% {
    background-image: url('img8.jpeg');
  }

  48% {
    background-image: url('img9.jpeg');
  }

  56% {
    background-image: url('img11.jpeg');
  }

  64% {
    background-image: url('img12.jpeg');
  }

  72% {
    background-image: url('img13.jpeg');
  }

  80% {
    background-image: url('img14.jpeg');
  }

  88% {
    background-image: url('img15.jpeg');
  }

  96% {
    background-image: url('img 16.jpeg');
  }
}

.images {
  /*top: 50%;*/
  margin: 7%;
}

.mandala-img {
  width: 20%;
  height: 16vw;
  margin-right: 20px;
  float: left;
}

.painting-img {
  width: 20%;
  height: 16vw;
  margin-left: 20px;
  float: right;
}

.digital-art-img {
  width: 20%;
  height: 16.5vw;
  margin-right: 20px;
  float: left;
}

.sketch-art-img {
  width: 20%;
  height: 16vw;
  margin-left: 20px;
  float: right;
}

.artist {
  margin-top: 10%;
  text-align: center;
}

.p {
  margin: 7%;
}

.p-img {
  margin-top: 0;
  margin-bottom: 2%;
  height: 20%;
  width: 20%;
}

.phr {
  border: dotted #ffd700 0.5vw;
  border-bottom: none;
  width: 3vw;
  margin: 30px auto;
}

::-webkit-scrollbar-track {
  background-color: #101d2e;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(#101d2e, #e8d57f, #e8d57f);
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer {
  position: relative;
  margin-left: 32vw;
  margin-top: 10vw;

}

.trophy-img {
  height: 5vw;
  width: 5vw;
}

.medal-img {
  height: 5vw;
  width: 5vw;
}

.artwork-img {
  height: 5vw;
  width: 5vw;
}

.trophy {
  position: relative;
  text-align: center;
}

.medal {
  position: absolute;
  margin-left: 16.6vw;
  top: 0;
  text-align: center;
}

.artwork {
  position: absolute;
  top: 0;
  text-align: center;
}

.bottom{
  margin-top: 20vw;
  margin-bottom: 3vw;
  text-align: center;

}

.copyright{
  font-size: 1vw;
  color: grey;
}

@media (min-width: 800px){
	p{
		font-size: 1.25rem;
	}
}
		
